html, body {
  height: 100%;
  margin: 0;
}
.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, rgb(160, 54, 160), grey);
}

.color-picker-title{
  font-size: 60px;
  font-weight: bold;
}

.app_colorpicker_container{
  background-color:rgb(233, 31, 129);
  height: 72vh;
  width: 74%;
  min-height: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  display:flex;
  justify-content: center;
  align-items: center; 
}
